@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, skyblue, pink);
    --light-gray: rgba(255, 255, 255, 0.877);
}


header a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
    width: 90%;
}

header {
    background: skyblue;
    /* fallback for old browsers */
    background: var(--bggradient);
}

header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}

/********** section 1 **************/

.section-1 {
    padding: 15vmin 3vmin;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 95%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 9vmin;
    left: -10vmin;
    background: white;
    border-radius: 5px;
    text-align: left;
    padding: 10vmin 10vmin 10vmin 5vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding-left: inherit;
    font-size: 3em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    padding-left: inherit;
    color: rgba(0, 0, 0, 0.8);
}

/*  Section 2  */

.cover {
    width: 100%;
    height: 55vmin;
    background: url("../assets/pexels-photo-452738.jpeg");
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.cover .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.talents .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 20rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.talents {
    margin-top: -15vmin;
}

.talents .rect h3 {
    font-size: 3rem;
    color: pink;
}

.talents .rect>p {
    font-family: var(--Patua);
}

.view>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.view>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.view .cards .card {
    width: 15rem;
    margin: 3vmin 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4em 2.5em;
    font-size: 1vmin;
}

.card .card-text {
    padding: 1.5rem 3rem;
    color: var(--light-blue);
}

.card-body .project1 {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .project1>h4 {
    font-size: 5vmin;
    padding: 1em 0.5em;
}



* Footer */ .footer {
    background-color: var(--grey-color);
    padding: 4rem 0 2rem 0;
}

.footer-list {
    display: flex;
    justify-content: center;
}

/* Contact */
.contact {
    padding: 15rem 0 20rem 0;
    text-align: center;
    background: url(images/contact-us-bg.png) center no-repeat;
    background-size: cover;
    animation: contact-bg 35s infinite;
}

.contact-heading {
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--white-color);
    text-shadow: 0 1rem 2rem #000;
    margin-bottom: 8rem;
}

.contact-form {
    width: 70rem;
    height: 50rem;
    background-color: rgba(255, 255, 255, 0.95);
    margin: auto;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem #000;
    padding: 5rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
}

.input-groups {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 48.5%;
}

.input-group input,
.input-group textarea {
    padding: 3rem 1rem 1rem 1rem;
    background-color: var(--secondary-color);
    border: 0.1rem solid var(--secondary-color);
    font-size: 1.4rem;
    color: var(--light-grey-color);
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    transition: border 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border: 0.1rem solid #ccc;
}

.input-group label {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--grey-color);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.form-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: var(--light-grey-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.form-btn:hover {
    background-color: var(--grey-color);
}

.input-group textarea {
    max-height: 15rem;
    max-width: 100%;
}

@keyframes contact-bg {
    0% {
        background-color: #3d3d3d;
    }

    25% {
        background-color: #ced8e4;
    }

    50% {
        background-color: #1e81f3;
    }

    75% {
        background-color: #ff7842;
    }

    100% {
        background-color: #3d3d3d;
    }
}

/* End of Contact */


.footer-link {
    font-size: 2rem;
    color: var(--white-color);
    margin: 0 2rem;
    background-color: var(--grey-color);
    padding: 0.3rem 3rem;
    letter-spacing: 0.3rem;
    transition: all 0.2s;
}

.footer-link:hover {
    transform: rotate(-10deg);
    box-shadow: 0 2rem 3rem #000;
}

.footer-paragraph {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    letter-spacing: 0.2rem;
    margin-top: 5rem;
}

/* End of Footer */
